<h1><%= @product.name %></h1>

<div class="product-show">

  <div class="product-images">
    <% if @product.images.attached? %>
      <% @product.images.each do |img| %>
        <%= image_tag img.variant(resize_to_limit: [500, 500]), class: "show-image" %>
      <% end %>
    <% else %>
      <p>No images available.</p>
    <% end %>
  </div>

  <div class="product-info">
    <p><strong>Price:</strong> $<%= @product.base_price %></p>
    <p><strong>Description:</strong></p>
    <p><%= @product.description %></p>

    <p><strong>Category:</strong> <%= @product.category.name %></p>

    <%= link_to "Add to Cart", "#", class: "btn btn-primary" %>
  </div>

</div>
